 <p>ni halaman Home</p>

<img src="./img/imagesss.jpg" class="rounded float-start" alt="...">
<img src="./img/imagessss.jpg" class="rounded float-end" alt="...">

    <h4>Berita Terkini</h4>
    <% berita.forEach(data => { %>
        <h5><%= data.judul %></h5>
        <p><%= data.isi %></p>
    <% }) %>